<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
    <style>
        .table-striped tbody tr {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <%- include('navbar.ejs', { currentPage: 'booking_details' }) %>
    <div class="form-container">
        <div class="text-center"><h3>Bookings</h3></div>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Company</th>
                    <th scope="col">Address</th>
                    <th scope="col">Course</th>
                    </tr>
            </thead>
            <tbody>
                <% bookings.forEach(booking => { %>
                    <tr>
                        <td><%= booking.co_name %></td>
                        <td><%= booking.address %></td>
                        <td></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <a href="/">Back</a>
    </div>
</body>
</html>