<!DOCTYPE html>
<html>
<head>
  <title>Book Your Training</title>
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css">
</head>
<body>
  <%- include('navbar.ejs', { currentPage: 'home' }) %>

  <div class="container">
    <div class="col-md-12 col-lg-12">
      <h2 class="welcome">Welcome to Training Booking App !</h2>
      <p>Explore our exciting training programs and book your session today.</p>
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <a href="/booking_form">Book Now</a>
        </div>
        <div class="col-md-12 col-lg-12 text-end">
          <a href="/booking_details">Booking Details</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
